<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'rest_app/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <title>RESTful API Demo</title>
</head>
<body>
	{% if messages %}
  	<ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  	</ul>
	{% endif %}
	<h1>Add a new user</h1>
	<div class="col-md-5">
		<form action="/users/create/" method="POST">
			{% csrf_token %}
		    <div class="form-group">
		      <label for="first_name">First Name:</label>
		      <input type="text" class="form-control" name="first_name">
		    </div>
		    <div class="form-group">
		      <label for="last_name">Last Name:</label>
		      <input type="text" class="form-control" name="last_name">
		    </div>
		    <div class="form-group">
		      <label for="email">Email:</label>
		      <input type="email" class="form-control" name="email">
		    </div>
		    <input type="submit" class="btn btn-primary" value="Create">
  		</form>
  		<a href="/users" class="top">Go Back</a>
	</div>
</body>
</html>