<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'rest_app/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <title>RESTful API Demo</title>
</head>
<body>
	<h1>User</h1>
	<p>Full Name: {{user.first_name}} {{user.last_name}}</p>
	<p>Email: {{user.email}}</p>
	<p>Created At: {{user.created_at}}</p>
	<p><a href="/users/edit/{{user.id}}">Edit</a> | <a href="/users/destroy/{{user.id}}">Delete</a></p>
</body>
</html>